{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="">Home</a>
                    <span class="breadcrumb-item active">Profile edit</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Contact Start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Edit profile info</span></h2>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form bg-light p-30">
                    <div id="success"></div>
                    <form action="{% url 'profile_edit' pk=request.user.pk%}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div>
                            <button class="btn btn-success py-2 px-4" type="submit" id="sendMessageButton">
                                Edit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 mb-5">
                <div class="bg-light p-30 mb-30">
                                    <div class="product-offer mb-30" style="height: 300px;">
                    <img class="img-fluid" src="{% static 'img/buy.png' %}" alt="">
                    <div class="offer-text">
                        <h3 class="text-white mb-3">Find Your Next Treasure</h3>
                        <a href="" class="btn btn-primary">Browse Now</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


{% endblock %}