{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load cloudinary %}

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="">Home</a>
                    <span class="breadcrumb-item active">Profile Details</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Shop Detail Start -->
    <div class="container-fluid pb-5">
        <div class="row px-xl-5">
            <div class="col-lg-3 mb-30">
                {% if not profile.profile_picture %}
                    <img class="img-fluid" src="{% static 'img/no-profile.jpg' %}" alt="Profile Picture">
                {% else %}
                    <img class="img-fluid" src="{{ profile.profile_picture.url }}" alt="Profile Picture">
                {% endif %}
            </div>

            <div class="col-lg-7 h-auto mb-30">
                <div class="h-100 bg-light p-30">
                    <h3>{{ profile.get_name }}</h3>
                    <div class="d-flex mb-3">
                        <div class="text-primary mr-2">
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star-half-alt"></small>
                            <small class="far fa-star"></small>
                        </div>
                        <small class="pt-1">(99 Reviews)</small>
                    </div>
                    <h3 class="font-weight-semi-bold mb-4">Total Items: {{ profile.user.product_set.count }}</h3>
                    <div class="d-flex mb-3">
                        <strong class="text-dark mr-3">Location: {{ profile.location }}</strong>
                    </div>
                    <div class="d-flex mb-4">
                        <strong class="text-dark mr-3">Email: {{ profile.user.email }}</strong>
                    </div>
                    <div class="d-flex align-items-center mb-4 pt-2">
                        {% if request.user.pk != profile.pk %}
                            <button class="btn btn-primary px-3" onclick="window.location.href='#'">
                                <i class="fa fa-shopping-cart mr-1"></i>Seller's items
                            </button>
                        {% else %}
                            <button class="btn btn-primary px-3 bg-success" onclick="window.location.href='{% url 'profile_edit' pk=object.pk%}'">
                                <i class="fa fa-shopping-cart mr-1"></i>Edit Profile
                            </button>
                            <button class="btn btn-primary px-3 bg-danger" onclick="window.location.href='{% url 'profile_delete' pk=object.pk%}'">
                                <i class="fa fa-shopping-cart mr-1"></i>Delete Profile
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="bg-light p-30">
                    <div class="nav nav-tabs mb-4">
                        <a class="nav-item nav-link text-dark active" data-toggle="tab"
                           href="#tab-pane-1">Products</a>
                        <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">Reviews (0)</a>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-pane-1">
                            <div class="container-fluid py-5">
                                <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span
                                        class="bg-secondary pr-3">Seller's Products</span></h2>
                                <div class="row px-xl-5">
                                    <div class="col">
                                        <div class="owl-carousel related-carousel">
                                            {% for product in profile.user.product_set.all %}
                                            <div class="product-item bg-light">
                                                <div class="product-img position-relative overflow-hidden">
                                                    <img class="img-fluid w-100" src="{{ product.photo_set.first.image.url }}" alt="">
                                                    <div class="product-action">
                                                        <a class="btn btn-outline-dark btn-square" href=""><i
                                                                class="fa fa-shopping-cart"></i></a>
                                                        <a class="btn btn-outline-dark btn-square" href=""><i
                                                                class="far fa-heart"></i></a>
                                                        <a class="btn btn-outline-dark btn-square" href=""><i
                                                                class="fa fa-sync-alt"></i></a>
                                                        <a class="btn btn-outline-dark btn-square" href=""><i
                                                                class="fa fa-search"></i></a>
                                                    </div>
                                                </div>
                                                <div class="text-center py-4">
                                                    <a class="h6 text-decoration-none text-truncate" href="">{{ product.name }}</a>
                                                    <div class="d-flex align-items-center justify-content-center mt-2">
                                                        <h5>${{ product.price }}</h5>
                                                    </div>
                                                    <div class="d-flex align-items-center justify-content-center mb-1">
                                                        <small class="fa fa-star text-primary mr-1"></small>
                                                        <small class="fa fa-star text-primary mr-1"></small>
                                                        <small class="fa fa-star text-primary mr-1"></small>
                                                        <small class="fa fa-star text-primary mr-1"></small>
                                                        <small class="fa fa-star text-primary mr-1"></small>
                                                        <small>(99)</small>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="mb-4">1 review for "Product Name"</h4>
                                    <div class="media mb-4">
                                        <img src="{% static 'img/no-profile.jpg' %}" alt="Image" class="img-fluid mr-3 mt-1"
                                             style="width: 45px;">
                                        <div class="media-body">
                                            <h6>John Doe<small> - <i>01 Jan 2045</i></small></h6>
                                            <div class="text-primary mb-2">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half-alt"></i>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <p>Diam amet duo labore stet elitr ea clita ipsum, tempor labore accusam
                                                ipsum et no at. Kasd diam tempor rebum magna dolores sed sed eirmod
                                                ipsum.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h4 class="mb-4">Leave a review</h4>
                                    <small>Your email address will not be published. Required fields are marked
                                        *</small>
                                    <div class="d-flex my-3">
                                        <p class="mb-0 mr-2">Your Rating * :</p>
                                        <div class="text-primary">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                        </div>
                                    </div>
                                    <form>
                                        <div class="form-group">
                                            <label for="message">Your Review *</label>
                                            <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="name">Your Name *</label>
                                            <input type="text" class="form-control" id="name">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Your Email *</label>
                                            <input type="email" class="form-control" id="email">
                                        </div>
                                        <div class="form-group mb-0">
                                            <input type="submit" value="Leave Your Review" class="btn btn-primary px-3">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->

{% endblock %}    