{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <script src="{% static 'js/like.js' %}"></script>

    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'home_page' %}">Home</a>
                    <a class="breadcrumb-item text-dark" href="{% url 'items_browse' %}">Items</a>
                    <span class="breadcrumb-item active">Browse</span>
                </nav>
            </div>
        </div>
    </div>

    
    <div class="container-fluid">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-4">
                <!-- Price Start -->
                <h5 class="section-title position-relative text-uppercase mb-4"><span
                        class="bg-secondary pr-3">Search</span></h5>
                <div class="bg-light p-4 mb-30">
                    <form method="get">
                        <div class="input-group">
                            {{ search_form }}
                            <div class="input-group-append">
                                <button class="input-group-text bg-transparent text-primary">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <h5 class="section-title position-relative text-uppercase mb-3"><span
                        class="bg-secondary pr-3">Filter by Category</span></h5>
                <div class="bg-light p-4 mb-30">
                    
                    {% for category in categories %}
                        <div style="max-height: 250px; overflow-y: auto;">
                        <img src="{{ category.category_image.url }}" alt="{{ category.name }}" style="width: 30px; height: 30px; object-fit: cover; margin-right: 10px;">
                            <a style="color: black"
                               href="{% url 'items_browse' %}?query={{ query }}&category={{ category.id }}">{{ category.name }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by Price</span>
                </h5>
                <div class="bg-light p-4 mb-30">
                    <form method="get">
                        {{ price_form }}
                        <button class="input-group-text bg-transparent text-primary">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        
            <div class="col-lg-9 col-md-8">
                <div class="row pb-3">
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div>
                            </div>
                            <div class="ml-2">
                                <div class="btn-group">
                                </div>
                                <div class="btn-group ml-2">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for item in object_list %}
                        <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                            <div class="product-item bg-light mb-4">
                                <div class="product-img position-relative overflow-hidden">
                                    <img class="img-fluid w-100" src="{{ item.main_photo.url }}" alt="">
                                    <div class="product-action">
                                        <a class="btn btn-outline-dark btn-square"
                                           href="{% url 'item_details' pk=item.pk %}"><i
                                                class="fa fa-info"></i></a>
                                        {% if request.user.is_authenticated %}
                                            <a class="btn btn-outline-dark btn-square like-btn"
                                               href="javascript:void(0)"
                                               data-item-id="{{ item.pk }}">
                                                {% if not item.has_like %}
                                                    <i class="far fa-heart"></i>
                                                {% else %}
                                                    <i class="fas fa-heart"></i>
                                                {% endif %}
                                                <span class="like-count">{{ item.likes.count }}</span>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="text-center py-4">
                                    <a class="h6 text-decoration-none text-truncate" href="">{{ item.name }}</a>
                                    <div class="d-flex align-items-center justify-content-center mt-2">
                                        <h5>${{ item.price }}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="col-12">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="?page={{ page_obj.previous_page_number }}">Previous</a>
                                    </li>
                                {% endif %}
                                {% for num in page_obj.paginator.page_range %}
                                    <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                    </li>
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="?page={{ page_obj.next_page_number }}">Next</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  
{% endblock %}
