{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'home_page' %}">Home</a>
                    <a class="breadcrumb-item text-dark" href="{% url 'items_browse' %}">Browse</a>
                    <span class="breadcrumb-item active">Item Details</span>
                </nav>
            </div>
        </div>
    </div>
    <div class="container-fluid pb-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 mb-30">
                <img class="w-100 h-100" src="{{ object.main_photo.url }}" alt="Image">
            </div>
            <div class="col-lg-7 h-auto mb-30">
                <div class="h-100 bg-light p-30">
                    <h3>{{ item.name }}</h3>
                    <div class="d-flex mb-3">
                        <div class="text-primary mr-2">
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star-half-alt"></small>
                            <small class="far fa-star"></small>
                        </div>
                        <small class="pt-1">(99 Reviews)</small>
                    </div>
                    <h3 class="font-weight-semi-bold mb-4">${{ item.price|floatformat:2 }}</h3>
                    <p class="mb-4">{{ item.description }}</p>
                    <h3>Are you sure you want to delete {{ item.name }}?</h3>
                    <div class="d-flex align-items-center mb-4 pt-2">
                        <form action="{% url 'item_delete' pk=item.pk %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-primary px-3 bg-danger">
                                <i class="fa fa-trash mr-1"></i>Delete Item
                            </button>
                            <a href="{% url 'item_details' pk=item.pk %}" class="btn btn-info px-3">
                                <i class="fa fa-arrow-left mr-1"></i> Back to Item Details
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}    