{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="{% static 'js/like.js' %}"></script>
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <a class="breadcrumb-item text-dark" href="{% url 'profile_details' request.user.pk%}">Profile</a>
                    <span class="breadcrumb-item active">Liked Items</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Cart Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-7 table-responsive mb-5">
                <table class="table table-light table-borderless table-hover text-center mb-0">
                    <thead class="thead-dark">
                    <tr>
                        <th>Items</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody class="align-middle">
                    {% for item in my_items %}
                        <tr>
                            <td class="align-middle"><img src="{{ item.photos.first.photo.url }}" alt=""
                                                          style="width: 50px;">
                                <a href="{% url 'item_details' item.pk%}">{{ item.name }}</a>
                            </td>
                            <td>{{ item.description|truncatechars:20 }}</td>
                            <td class="align-right">${{ item.price }}</td>
                            <td class="align-middle">
                                <a href="{% url 'item_edit' item.pk%}" class="btn btn-sm btn-success"><i class="fa fa-pen"></i></a>
                            </td>
                            <td class="align-middle">
                                <a href="{% url 'item_delete' item.pk%}" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-5 mb-5">
                <div class="bg-light p-30 mb-30">
                                    <div class="product-offer mb-30" style="height: 300px;">
                    <img class="img-fluid" src="{% static 'img/buy.png' %}" alt="">
                    <div class="offer-text">
                        <h3 class="text-white mb-3">Find Your Next Treasure</h3>
                        <a href="{% url 'items_browse' %}" class="btn btn-primary">Browse Now</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->
{% endblock %}